# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# see kafka.server.KafkaConfig for additional details and defaults

############################# Server Basics #############################

# The id of the broker. This must be set to a unique integer for each broker.
{{- if  .broker_id }}
broker.id={{ .broker_id }}
{{- else }}
broker.id=0
{{- end }}

# Switch to enable topic deletion or not, default value is false
#delete.topic.enable=true

############################# Socket Server Settings #############################

# The address the socket server listens on. It will get the value returned from 
# java.net.InetAddress.getCanonicalHostName() if not configured.
#   FORMAT:
#     listeners = listener_name://host_name:port
#   EXAMPLE:
#     listeners = PLAINTEXT://your.host.name:9092
#listeners=PLAINTEXT://:9092
{{- if .listeners }}
listeners={{ .listeners }}
{{- end }}
# TODO - disallow setting 'listeners', not needed

# Hostname and port the broker will advertise to producers and consumers. If not set, 
# it uses the value for "listeners" if configured.  Otherwise, it will use the value
# returned from java.net.InetAddress.getCanonicalHostName().
#advertised.listeners=PLAINTEXT://your.host.name:9092
{{- if .advertised_listeners }}
advertised.listeners={{ .advertised_listeners }}
{{- end }}
# TODO - investigate, should we set some external hostname?

# Maps listener names to security protocols, the default is for them to be the same. See the config documentation for more details
#listener.security.protocol.map=PLAINTEXT:PLAINTEXT,SSL:SSL,SASL_PLAINTEXT:SASL_PLAINTEXT,SASL_SSL:SASL_SSL

# The number of threads that the server uses for receiving requests from the network and sending responses to the network
{{- if .num_network_threads }}
num.network.threads={{ .num_network_threads }}
{{- else }}
num.network.threads=3
{{- end }}

# The number of threads that the server uses for processing requests, which may include disk I/O
{{- if .num_io_threads }}
num.io.threads={{ .num_io_threads }}
{{- else }}
num.io.threads=8
{{- end }}

# The send buffer (SO_SNDBUF) used by the socket server
{{- if .socket_send_buffer_bytes }}
socket.send.buffer.bytes={{ .socket_send_buffer_bytes }}
{{- else }}
socket.send.buffer.bytes=102400
{{- end }}

# The receive buffer (SO_RCVBUF) used by the socket server
{{- if .socket_receive_buffer_bytes }}
socket.receive.buffer.bytes={{ .socket_receive_buffer_bytes }}
{{- else }}
socket.receive.buffer.bytes=102400
{{- end }}

# The maximum size of a request that the socket server will accept (protection against OOM)
{{- if .socket_request_max_bytes }}
socket.request.max.bytes={{ .socket_request_max_bytes }}
{{- else }}
socket.request.max.bytes=104857600
{{- end }}

############################# Log Basics #############################

# A comma seperated list of directories under which to store log files
log.dirs=/tmp/kafka-logs

# The default number of log partitions per topic. More partitions allow greater
# parallelism for consumption, but this will also result in more files across
# the brokers.
{{- if .num_partitions }}
num.partitions={{ .num_partitions }}
{{- else }}
num.partitions=1
{{- end }}

# The number of threads per data directory to be used for log recovery at startup and flushing at shutdown.
# This value is recommended to be increased for installations with data dirs located in RAID array.
{{- if .num_recovery_threads_per_data_dir }}
num.recovery.threads.per.data.dir={{ .num_recovery_threads_per_data_dir }}
{{- else }}
num.recovery.threads.per.data.dir=1
{{- end }}
############################# Internal Topic Settings  #############################
# The replication factor for the group metadata internal topics "__consumer_offsets" and "__transaction_state"
# For anything other than development testing, a value greater than 1 is recommended for to ensure availability such as 3.
{{- if .offsets_topic_replication_factor }}
offsets.topic.replication.factor={{ .offsets_topic_replication_factor }}
{{- else }}
offsets.topic.replication.factor=1
{{- end }}

{{- if .transaction_state_log_replication_factor }}
transaction.state.log.replication.factor={{ .transaction_state_log_replication_factor }}
{{- else }}
transaction.state.log.replication.factor=1
{{- end }}

{{- if .transaction_state_log_min_isr }}
transaction.state.log.min.isr={{ .transaction_state_log_min_isr }}
{{- else }}
transaction.state.log.min.isr=1
{{- end }}
############################# Log Flush Policy #############################

# Messages are immediately written to the filesystem but by default we only fsync() to sync
# the OS cache lazily. The following configurations control the flush of data to disk.
# There are a few important trade-offs here:
#    1. Durability: Unflushed data may be lost if you are not using replication.
#    2. Latency: Very large flush intervals may lead to latency spikes when the flush does occur as there will be a lot of data to flush.
#    3. Throughput: The flush is generally the most expensive operation, and a small flush interval may lead to exceessive seeks.
# The settings below allow one to configure the flush policy to flush data after a period of time or
# every N messages (or both). This can be done globally and overridden on a per-topic basis.

# The number of messages to accept before forcing a flush of data to disk
#log.flush.interval.messages=10000
{{- if .log_flush_interval_messages }}
log.flush.interval.messages={{ .log_flush_interval_messages }}
{{- end }}
# The maximum amount of time a message can sit in a log before we force a flush
#log.flush.interval.ms=1000
{{- if .log_flush_interval_ms }}
log.flush.interval.ms={{ .log_flush_interval_ms }}
{{- end }}

############################# Log Retention Policy #############################

# The following configurations control the disposal of log segments. The policy can
# be set to delete segments after a period of time, or after a given size has accumulated.
# A segment will be deleted whenever *either* of these criteria are met. Deletion always happens
# from the end of the log.

# The minimum age of a log file to be eligible for deletion due to age
{{- if .log_retention_hours }}
log.retention.hours={{ .log_retention_hours }}
{{- else }}
log.retention.hours=168
{{- end }}

# A size-based retention policy for logs. Segments are pruned from the log as long as the remaining
# segments don't drop below log.retention.bytes. Functions independently of log.retention.hours.
#log.retention.bytes=1073741824

# The maximum size of a log segment file. When this size is reached a new log segment will be created.
{{- if .log_segment_bytes }}
log.segment.bytes={{ .log_segment_bytes }}
{{- else }}
log.segment.bytes=1073741824
{{- end }}

# The interval at which log segments are checked to see if they can be deleted according
# to the retention policies
{{- if .log_retention_check_interval_ms }}
log.retention.check.interval.ms={{ .log_retention_check_interval_ms }}
{{- else }}
log.retention.check.interval.ms=300000
{{- end }}

############################# Zookeeper #############################

# Zookeeper connection string (see zookeeper docs for details).
# This is a comma separated host:port pairs, each corresponding to a zk
# server. e.g. "127.0.0.1:3000,127.0.0.1:3001,127.0.0.1:3002".
# You can also append an optional chroot string to the urls to specify the
# root directory for all kafka znodes.
zookeeper.connect={{ .zookeeper_connect }}

# Timeout in ms for connecting to zookeeper
{{- if .zookeeper_connection_timeout_ms }}
zookeeper.connection.timeout.ms={{ .zookeeper_connection_timeout_ms }}
{{- else }}
zookeeper.connection.timeout.ms=6000
{{- end }}


############################# Group Coordinator Settings #############################

# The following configuration specifies the time, in milliseconds, that the GroupCoordinator will delay the initial consumer rebalance.
# The rebalance will be further delayed by the value of group.initial.rebalance.delay.ms as new members join the group, up to a maximum of max.poll.interval.ms.
# The default value for this is 3 seconds.
# We override this to 0 here as it makes for a better out-of-the-box experience for development and testing.
# However, in production environments the default value of 3 seconds is more suitable as this will help to avoid unnecessary, and potentially expensive, rebalances during application startup.
{{- if .group_initial_rebalance_delay_ms }}
group.initial.rebalance.delay.ms={{ .group_initial_rebalance_delay_ms }}
{{- else }}
group.initial.rebalance.delay.ms=0
{{- end }}